:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --secondary-title-text-color: #FFFFFF; 
    --accent-color: #2196F3;
    --button-bg-color: #2196F3;
    --secondary-button-bg-color: #F5F4FA;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
}
.page {
    background-color: #FFFFFF;

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03rem;
}
/* site nav */
.logo, .logo:hover, .logo:focus {
    color: var(--accent-color);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.03rem;
}
.logo-header {
    color: var(--title-text-color);
}
.logo-header:hover, .logo-header:focus {
    color: var(--accent-color);
}
.list {
    list-style: none;
}
.link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 0.14;
    text-decoration: none;
    letter-spacing: 0.02rem;
}
.link:hover .link:focus {
    color: var(--accent-color);
}
.list, .link.current {
    color: var(--accent-color);
}
.contacts {
    color: var(--primery-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 0.14;
    letter-spacing: 0.02rem;
    text-decoration: none;
}
.contacts:hover, .contacts:focus {
    color: var(--accent-color);
}
/* hero */
.hero-title {
    color: var(--secondary-title-text-color);
    background-color: rgba(47, 48, 58, 0.8);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06rem;
}
/* button */
.button {
    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;

    color: var(--secondary-title-text-color);
    background-color: var(--button-bg-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06rem;
    text-decoration: none;
    text-align: center;
}
.button.secondary {
    border-radius: 4px;
}
/* section */
.title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.section-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.section-item {
    color: var(--primery-text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
}
/* work */
.work-item {
   color: var(--secondary-title-text-color);
   background-color: rgba(47, 48, 58, 0.8);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-decoration: none;
    
}
/* footer */
footer {
    background-color: #2F303A;
}
.logo-footer {
    color: var(--secondary-title-text-color);
}
.address {
    color: var(--secondary-title-text-color);

    font-size: 14px;
    line-height: 1.7;
}
.footer-title {
    color: var(--secondary-title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14; 
}
.copyright {
    color: rgba(255, 255, 255, 0.4);

    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    text-align: center;
}
/* page partfolio */
.secondary-button {
    color: var(--title-text-color);
    background-color: var(--secondary-button-bg-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}
.secondary-button:hover, .secondary-button:focus {
    color: var(--secondary-title-text-color);
    background-color: var(--accent-color);
}
.overlay {
    color: var(--secondary-title-text-color);
    background-color: var(--accent-color);
    
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    text-decoration: none;
}